<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %><br>
  </div>

  <h3>Select Tags:</h3>
  <%= f.collection_check_boxes :tag_ids, Tag.order(:name), :id, :name do |b| %>
    <div class="checkbox">
      <%= b.check_box %>
      <%= b.label %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
